<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/publicFunction.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
  <div style="float: right">
    <input type="button" id="logoutButton" value="로그아웃"/>
  </div>
  <div>
    <div>
      <label>쿼리 테스트용 예제 프로젝트</label>
    </div>
    <br>
  </div>

  <div class="tabSelect">
    <input type="radio" id="totalTab" name="tabs" checked="checked"><label for="totalTab">전체</label>
    <input type="radio" id="testTab" name="tabs"><label for="testTab">테스트 쿼리</label>
    <input type="radio" id="userTab" name="tabs"><label for="userTab">사용자</label>
    <input type="radio" id="paymentPlanTab" name="tabs"><label for="paymentPlanTab">요금제</label>
    <input type="radio" id="fileuploadTab" name="tabs"><label for="fileuploadTab">파일</label>
  </div>

  <div id="testQuery">
  <!--  전체 쿼리 테스트 창  -->
  <label>쿼리 입력 창</label>
  <input type="button" id="submit" value="테스트"/>
  <br>
  <textarea id="query_area"></textarea>
  <textarea readonly id="result"> </textarea>

  </div>
  <br>
  <br>

  <div id="userQuery">
<!-- 사용자 조회 부분-->
  <div class="functionDivider">
    <label>사용자 목록</label> <input type="button" id="userReadRenewButton" value="새로 고침"> <br>
    <table id="userTable">
      <thead>
      <tr>
        <th>이메일</th> <th>이름</th> <th>성</th> <th>전화번호</th> <th>가입경로</th> <th>요금제</th>
      </tr>
      </thead>
      <tbody id="userTableBody">

      </tbody>
    </table>
  </div>
<!--사용자 추가 부분-->
  <div class="functionDivider">
    <label>사용자 추가</label>
    <input type="button" id="userCreateButton" value="요청"> <br>
    <label>이메일</label>
    <input id="create_email">
    <label>이름</label>
    <input id="create_firstName">
    <label>성</label>
    <input id="create_lastName">
    <label>전화번호</label>
    <input id="create_phoneNumber">
    <label>가입경로</label>
    <input id="create_joinPath">
  </div>
<!-- 사용자 변경 부분 -->
  <div class="functionDivider">
    <label>사용자 변경</label>
    <input type="button" id="userModifyButton" value="요청"> <br>
    <label>이메일</label>
    <input id="modify_email">
    <label>이름</label>
    <input id="modify_firstName">
    <label>성</label>
    <input id="modify_lastName">
    <label>전화번호</label>
    <input id="modify_phoneNumber">
    <label>가입경로</label>
    <input id="modify_joinPath">
  </div>
<!-- 사용자 삭제 부분 -->
  <div class="functionDivider">
    <label>사용자 삭제</label>
    <input type="button" id="userDeleteButton" value="요청"> <br>
    <label>이메일</label>
    <input id="delete_email">
  </div>
  </div>

  <div id="paymentPlanQuery">
  <!-- 요금제 불러오기 -->
  <div class="functionDivider">
    <label>요금제 목록</label> <input type="button" id="paymentPlanReadRenewButton" value="새로 고침"> <br>
    <table id="paymentPlanTable">
      <thead>
      <tr>
        <th>이름</th> <th>사용자 수</th> <th>첫번째 기능</th> <th>두번째 기능</th> <th>세번째 기능</th> <th>네번째 기능</th>
      </tr>
      </thead>
      <tbody id="paymentPlanTableBody">
      
      </tbody>
    </table>
  </div>
  <!-- 요금제 추가 -->
  <div class="functionDivider">
    <label>요금제 추가</label>
    <input type="button" id="planCreateButton" value="요청"> <br>
    <label>요금제 이름</label>
    <input id="targetPlanName">
    <label>사람 수</label>
    <input id="personCount">
    <label>첫번째 기능</label>
    <select id="firstFunctionFlag">
      <option>true</option>
      <option>false</option>
    </select>
    <label>두번째 기능</label>
    <select id="secondFunctionFlag">
      <option>true</option>
      <option>false</option>
    </select>
    <label>세번째 기능</label>
    <select id="thirdFunctionFlag">
      <option>true</option>
      <option>false</option>
    </select>
    <label>네번째 기능</label>
    <select id="forthFunctionFlag">
      <option>true</option>
      <option>false</option>
    </select>
  </div>
  <!-- 요금제 수정 -->
  <div class="functionDivider">
      <label>요금제 변경</label>
      <input type="button" id="planModifyButton" value="요청"> <br>
      <label>대상 요금제</label>
      <input id="modifyTargetPlanName">
      <label>사람 수</label>
      <input id="modifyPersonCount">
      <label>첫번째 기능</label>
      <select id="modifyFirstFunctionFlag">
        <option>true</option>
        <option>false</option>
      </select>
      <label>두번째 기능</label>
      <select id="modifySecondFunctionFlag">
        <option>true</option>
        <option>false</option>
      </select>
      <label>세번째 기능</label>
      <select id="modifyThirdFunctionFlag">
        <option>true</option>
        <option>false</option>
      </select>
      <label>네번째 기능</label>
      <select id="modifyForthFunctionFlag">
        <option>true</option>
        <option>false</option>
      </select>
  </div>
  <!-- 요금제 삭제 -->
  <div class="functionDivider">
    <label>요금제 삭제</label>
    <input type="button" id="planDeleteButton" value="요청"> <br>
    <label>대상 요금제</label>
    <input id="deleteTargetPlanName">
  </div>

  <!-- 요금제 지정 -->
  <div class="functionDivider">
    <label>요금제 지정</label> <input type="button" id="planToUserButton" value="요청"> <br>
    <label>지정할 인원 이메일</label>
    <input id="pointTargetUserEmail">
    <label>지정할 요금제</label>
    <input id="pointTargetPlanName">
  </div>
  </div>
  <div id="fileUploadQuery">
    <div class="filebox">
      <form id="formData" enctype="multipart/form-data" method="post">
        <span id="previewFileName"></span>
        <label for="fileUpload">파일 찾기</label>
        <input type="file" id="fileUpload" name="uploadFile" />
        <input type="button" id="uploadButton">Upload</input>
      </form>
    </div>
  </div>
  </body>
</html>
