<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
  <div>
    <label>쿼리 테스트용 예제 프로젝트</label>
  </div>
  <label>쿼리 입력 창</label>
  <div>
      <textarea id="query_area"></textarea>
  </div>
  <input type="button" id="submit" value="테스트"/>
  <div>
    <textarea readonly id="result"> </textarea>
  </div>
  </body>
</html>
