<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="/javascripts/login.js"></script>
</head>
<body>
<div class="loginDiv">
    <h2>Graph QL test project</h2>
    <label class="loginLabel">ID : </label>
    <input type="text"/> <br>
    <label class="loginLabel">PW : </label>
    <input type="password" />
</div>
</body>
</html>
