<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="/javascripts/login.js"></script>
</head>
<body>
<div class="loginDiv">
    <div class="innerDiv">
        <h2>Graph QL TEST</h2>
    </div>

    <div class="innerDiv marginTop30px">
        <label class="loginLabel">ID : </label>
        <input class="fixedInputWidth" type="text"/>
    </div>
    <div class="innerDiv">
        <label class="loginLabel">PW : </label>
        <input class="fixedInputWidth" type="password" />
    </div>
    <div class="innerDiv marginTop30px">
        <input type="button" value="login" />
        <input type="button" value="signup" />
    </div>

</div>
<canvas id="background_matrix"></canvas>
</body>
</html>
