<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/signup.css'/>
    <script src="/javascripts/signup.js"></script>
    <script src="/javascripts/publicFunction.js"></script>

</head>
<body>
<div class="loginDiv">
    <div class="innerDiv">
        <h2>Sign Up</h2>
    </div>

    <div class="innerDiv marginTop30px">
        <label class="loginLabel">ID : </label>
        <input class="fixedInputWidth" id="signupID" type="text"/>
    </div>
    <div class="innerDiv">
        <label class="loginLabel">PW : </label>
        <input class="fixedInputWidth" id="signupPassword" type="password" />
    </div>
    <div class="innerDiv">
        <label class="loginLabel">Email : </label>
        <input class="fixedInputWidth" id="signupEmail" type="text" />
    </div>
    <div class="innerDiv marginTop30px">
        <input type="button" id="acceptButton" value="accept" />
        <input type="button" id="cancelButton" value="cancel" />
    </div>
</div>
</body>
</html>
