html {
    background:black;
    color: #10ff00;
}

input{
    background: black;
    color:#10ff00;
    border-top: solid 1px #10ff00;
    border-left: solid 1px #10ff00;
    border-right: solid 1px #10ff00;
    border-bottom: solid 1px #10ff00;
}

input:focus{
    outline: solid 1px #10ff00;
}

input[type=button]{
    background: black;
    color:#10ff00;
    border-top: solid 1px #10ff00;
    border-left: solid 1px #10ff00;
    border-right: solid 1px #10ff00;
    border-bottom: solid 1px #10ff00;
}

input[type=button]:hover{
    background: #10ff00;
    color:black;
    cursor:pointer;
    font-weight: bold;
}

.loginDiv{
    border: #10ff00 1px solid;
    background: black;
    width: 300px;
    height: 220px;
    position:absolute;
    left: calc(50% - 150px);
    top:calc(50% - 110px);
}

.loginLabel{
    width: 42px;
    display: inline-block;
}

.matrix_background{
    display: inline-block;
    width: 10px;
    height: 900px;
    overflow: hidden;
}

canvas {display:block;}

.innerDiv{
    width: 100%;
    text-align: center;
}
.marginTop30px {
    margin-top: 30px;
}

.fixedInputWidth {
    width: 120px;
}