body {
  padding: 50px;
  font-size: 14px;
  color: #10ff00;
  background: black;
}

a {
  color: #00B7FF;
}

#query_area{
  width: 350px;
  height: 200px;
}

#result{
  width: 350px;
  height: 200px;
}
#userTable{
  border:solid 1px #10ff00;
}

#paymentPlanTable{
  border:solid 1px #10ff00;
}

.functionDivider{
  margin-bottom: 30px;
}

input{
  background: black;
  color:#10ff00;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #10ff00;
}

input:focus{
  outline: solid 1px #10ff00;
}

input[type=button]{
  background: black;
  color:#10ff00;
  border-top: solid 1px #10ff00;
  border-left: solid 1px #10ff00;
  border-right: solid 1px #10ff00;
  border-bottom: solid 1px #10ff00;
}

input[type=button]:hover{
  background: #10ff00;
  color:black;
  cursor:pointer;
  font-weight: bold;
}



textarea{
  background: black;
  color:#10ff00;
  border-top: solid 1px #10ff00;
  border-left: solid 1px #10ff00;
  border-right: solid 1px #10ff00;
  border-bottom: solid 1px #10ff00;
}

select{
  background: black;
  color:#10ff00;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #10ff00;
}
