body {
  padding: 50px;
  font-size: 14px;
  color: #10ff00;
  background: black;
}

a {
  color: #00B7FF;
}

#query_area{
  width: 350px;
  height: 200px;
}

#result{
  width: 350px;
  height: 200px;
}
#userTable{
  border:solid 1px #10ff00;
}

#paymentPlanTable{
  border:solid 1px #10ff00;
}

.functionDivider{
  margin-bottom: 30px;
}

input{
  background: black;
  color:#10ff00;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #10ff00;
}

input:focus{
  outline: solid 1px #10ff00;
}

input[type=button]{
  background: black;
  color:#10ff00;
  border-top: solid 1px #10ff00;
  border-left: solid 1px #10ff00;
  border-right: solid 1px #10ff00;
  border-bottom: solid 1px #10ff00;
}

input[type=button]:hover{
  background: #10ff00;
  color:black;
  cursor:pointer;
  font-weight: bold;
}



textarea{
  background: black;
  color:#10ff00;
  border-top: solid 1px #10ff00;
  border-left: solid 1px #10ff00;
  border-right: solid 1px #10ff00;
  border-bottom: solid 1px #10ff00;
}

select{
  background: black;
  color:#10ff00;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #10ff00;
}

.tabSelect {
  padding: 15px 10px;
}
.tabSelect input[type=radio]{
  display: none;
}
.tabSelect input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 90px;
  border: 1px solid #10ff00;
  line-height: 24px;
  text-align: center;
  font-weight:bold;
  font-size:13px;
}
.tabSelect input[type=radio]+label{
  background-color: black;
  color: #10ff00;
}
.tabSelect input[type=radio]:checked+label{
  background-color: #10ff00;
  color: black;
}